/*reset da página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
/*paleta de cores, fonte e gradiente*/
:root {
  --cor-ciano: #41c6c4;
  --cor-azul: #13969f;
  --cor-turquesa: #459796;
  --cor-azul-bebe: #99d1d5;
  --cor-branco: #ffffff;
  --cor-azul-escuro: #206f74;
  --cor-ciano-2: #35b9b7;
  --cor-plano-de-fundo: linear-gradient(70deg, #f0ffff 40%, #b3dadb);
  --fonte-texto: "Hind", sans-serif;
}
body {
    font-family: var(--fonte-texto);
}
/*Cabeçalho da página*/
.header__container {
  background: linear-gradient(
    to right, var(--cor-ciano),
    var(--cor-azul),
    var(--cor-ciano)
  );
  width: 100%;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.nav__container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__logo {
  flex-shrink: 0;
  width: 140px;
}

.nav__menu {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
/*Hamburger*/
#btn-mobile {
  display: none;
  background: linear-gradient(to right, var(--cor-azul), var(--cor-ciano));
  color: var(--cor-branco);
  border: 1px solid var(--cor-azul-bebe);
  font-size: 15px;
  height: 35px;
  width: 35px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
#btn-mobile.ativo {
  background: var(--cor-branco);
  color: var(--cor-azul-bebe);
}

/*Navegação*/
.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--cor-branco);
  font-size: 16px;
  font-family: var(--fonte-texto);
  padding: 10px 5px;
  display: flex;
  align-items: center;
  user-select: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--cor-branco);
  transform: scaleX(0);
  transition: 0.3s;
}

.nav__link:hover::after,
.nav__link--active::after {
  transform: scaleX(1);
}

.nav-btn__login {
    display: flex;
    background-color: var(--cor-branco);
    color: var(--cor-azul);
    font-family: var(--fonte-texto);
    text-align: center;
    border-radius: 20px;
    padding: 3px 25px;
    text-decoration: none;
    margin-left: auto;
    user-select: none;
    
  }

  .nav-btn__login:hover {
    transition: 0.2s;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
  }


/*Responsividade*/

@media (max-width: 1300px) /*desktop*/ {
  .nav__link, .nav-btn__login {
    font-size: 12px;
  }
  .header__logo {
    width: 100px;
  }
}
@media (max-width: 768px) /*tablet*/ {
  .header__container {
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    min-height: 75px; 
    background: linear-gradient(to right, var(--cor-azul), var(--cor-ciano));
  }

  .header__logo {
    margin: 0;
    padding: 0;
    width: 120px;
    order: 1;
  }

  .nav__container {
    width: auto;
    order: 2;
    display: flex;
    justify-content: flex-end;
    gap: 0;
    padding: 0;
  }

  #btn-mobile {
    display: flex;
    z-index: 10;
  }

  .nav__menu, 
  .nav-btn__login, 
  .nav__link--active::after, 
  .nav__link::after {
    display: none;
  }

  .nav__menu--active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 9;
    
    /* dropdown */
    border-top: 1px solid #fff;
    background: linear-gradient(to right, var(--cor-azul), var(--cor-ciano));
    gap: 0;
    padding: 10px 30px 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .nav__link {
    font-size: 16px;
    padding: 16px 5px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    width: 100%;
    color: var(--cor-branco);
    display: block; 
  }

  /* último item */
  .nav__link:last-child {
    border-bottom: none;
  }

  .nav__link:hover {
    background-color: rgba(200, 233, 233, 0.2);
    color: var(--cor-branco);
    padding-left: 15px;
    transition: 0.2s ease;
  }
}

@media (max-width: 480px) {
  .header__container {
    position: relative; 
    display: flex;
    flex-direction: row; /*elementos alinhados na horizontal*/
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px;
    min-height: 75px;
    background: linear-gradient(to right, var(--cor-azul), var(--cor-ciano));
  }

  .header__logo {
    margin: 0;
    width: 100px;
    order: 1; /*ordem visual dos elementos, prioridade*/
  }

  .nav__container {
    width: auto;
    order: 2;
    display: flex;
    justify-content: flex-end;
    gap: 0;
  }
  #btn-mobile {
    display: flex;
    z-index: 10;
  }
  .nav__menu, 
  .nav-btn__login, 
  .nav__link--active::after, 
  .nav__link::after {
    display: none;
  }
  .nav__menu--active {
    display: flex;
    flex-direction: column;
    
    /* se posiciona abaixo do header */
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 9;
    
    /* menu dropdown estilo */
    border-top: 1px solid #fff;
    background: linear-gradient(to right, var(--cor-azul), var(--cor-ciano));
    gap: 0;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .nav__link {
    font-size: 15px;
    padding: 15px 5px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    width: 100%;
    color: var(--cor-branco);
    display: block; /* Garante clique em toda a largura da linha */
  }

  /* remove a borda do último item */
  .nav__link:last-child {
    border-bottom: none;
  }

  .nav__link:hover {
    background-color: rgba(200, 233, 233, 0.2);
    color: var(--cor-branco);
    padding-left: 15px;
    transition: 0.2s ease;
  }
}
